 <ul class="nav nav-list">
    <li>
        <a href="/en/index.html">Welcome!</a>
    </li>
    <li class="nav-header">User guide</li>
    <li>
        <a href="/en/articles/getting-started.html">Getting started</a>
    </li>
    <li>
        <a href="/en/articles/how-to-format-a-data-file.html">How to format a data file?</a>
    </li>
    <li>
        <a href="/en/articles/how-to-generate-forecasts.html">How to generate forecasts?</a>
    </li>
    <li>
        <a href="/en/articles/how-to-export-forecasts.html">How to export forecasts?</a>
    </li>
    <li class="nav-header">Basic concepts</li>
    <li>
        <a href="/en/articles/why-forecast-sales.html">Why forecast sales?</a>
    </li>
    <li>
        <a href="/en/articles/why-should-i-use-statistical-forecasts.html">Why use statistical forecasts?</a>
    </li>
    <li>
        <a href="/en/articles/how-to-understand-forecasts.html">How to understand forecasts?</a>
    </li>
    <li class="nav-header">Support</li>
    <li>
        <a href="mailto:hello@fores.ee">hello@fores.ee</a>
    </li>
</ul>